# FastAPI et serveur ASGI
fastapi
uvicorn[standard]

# Gestion des fichiers et formulaires
python-multipart
jinja2

# Base de données MongoDB
pymongo

# Manipulation de données Excel et CSV
pandas
openpyxl
xlrd

# Bibliothèques pour le RAG PDF
pypdf
sentence-transformers
faiss-cpu
langchain-community
langchain-text-splitters
numpy

# Classifier Engine
presidio-analyzer
presidio-anonymizer
spacy


python -m spacy download fr_core_news_sm
python -m spacy download en_core_web_sm